<!DOCTYPE html>
<html ng-app="storm">
	<head>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/wilkystorm.css" rel="stylesheet">
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	</head>
	<body ng-controller="StormController as storm">
	    <div class="text-center">
		    <div class="center-left">
			<section class="tab" ng-controller="PanelController as panel" >
				<ul class="nav nav-pills" >
 				  <li ng-class="{ active: panel.isSet(1)}" >
				    <a href ng-click="panel.setTab(1)">linkedin</a>
				  </li>

				  <li ng-class="{active: panel.isSet(2)}" >
				    <a href ng-click="panel.setTab(2)">github</a>
				  </li>
				
				</ul>

				<div ng-show="panel.isSet(1)" >
				  <h4>linkedin</h4>
				  <a href="{{storm.products[0].url}}" target="_window"> {{storm.products[0].url}} </a> <br/>
				  <img ng-src="{{storm.products[0].images[0]}}" /> 
				</div>
				<div ng-show="panel.isSet(2)" >
				  <h4>github</h4>
				  <a href="{{storm.products[1].url}}" target="_window"> {{storm.products[1].url}} </a> <br/>
				  <img ng-src="{{storm.products[1].images[1]}}" /> 
				</div>
	    		</section>
			<h3> Hi, I'm Mike Wilkinson.</h3> <br/>
			<p>
			<h4> <small> 
		        Welcome to my career autobiogrophy page <strong><em>beta</em></strong>... <br/>
			I have created this page primarily from my goal to learn some Angular.js, twitter bootstrap, <br/>
			and play with other fun toys like html5, CSS, maybe throw in some RESTful API calls, <br/>
			<em>"maybe bed bath and beyond, I don't know, I don't know if we'll have enough time."</em> - Frank the tank <br/>
			Also, I thought it might be nifty to provide some information about myself for anyone who may be interested. 
			<br/><br/>
		        I like to think I am a humble, easy going, pretty cool guy. <br/>
		        I am passionate about developing quality software that serves good purpose. <br/>
		        I believe that dedication to the mastery of one's trade is a vital part of achieving success. <br/>
		        I also believe that in addition to mastery, humility and collaboration are equally important to achieve success. 				<br/>
			A wise mentor taught me a saying that I like very much, <strong><em>"no one of us is smarter than all of us." 				</em></strong><br/>
			Another of my favorite quotes is from Fred Rogers who said, <br/>
			<strong><em>"I like to talk 'with' people not 'to' them". </em></strong> <br/> <br/>
			I am also a fan of freedom, creativity, openness, and the <a href="http://fsf.org" target="_window">Free Software Foundation.
			</a><br/>
			Please feel free to visit my <a href="https://www.linkedin.com/in/wilkystorm" target="_window">Linkedin profile</a> or my <a href="https://github.com/wilkystorm?tab=repositories" target="_window">public hobby projects</a> on github. 
			</small> 
			</h4>
			</p>
		    </div>
		</div>
        </body>
</html>
